footer {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3 {
      font-size: 22px;
      color: #fff;
      font-weight: 700;
      margin: 0 0 25px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin: 0 0 50px;
      li {
        list-style: none;
        a {
          display: flex;
          transition: all .3s;
          color: #fff;
          font-size: 15px;
          text-decoration: none;
          &:hover {
            color: #3756f7;
          }
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
